<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--Start mainmenu-->
                <nav class="main-menu pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="{% url 'index' %}">Home</a></li>
                            <li class="dropdown"><a href="{% url 'about_us' %}">About Us</a>
                                <ul>
                                    <li><a href="{% url 'about_us' %}">About Hospitals</a></li>
                                    <li><a href="{% url 'doctors_list' %}">Meet Our Doctors</a></li>
{#                                    <li><a href="faq.html">FAQ’s</a></li>#}
{#                                    <li><a href="testimonials.html">Testimonials</a></li>#}
                                    <li><a href="{% url 'gallery' %}">Our Gallery</a></li>
                                    <li><a href="{% url 'gallery_detail'  %}">Gallery Single</a></li>
{#                                     {% for gallery in blogs %}#}
{#                                    <li><a href="{% url 'gallery_detail' gallery.pk %}"></a></li>#}
{#                                    {% endfor %}#}
                                </ul>

                            </li>
                            <li class="dropdown"><a href="{% url 'departments' %}">Departments</a>
                                <ul>
                                    <li><a href="cardiac-clinic.html">Cardiac Clinic</a></li>
                                    <li><a href="pulmonology.html">Pulmonology</a></li>
                                    <li><a href="gynecology.html">Gynecology</a></li>
                                    <li><a href="neurology.html">Neurology</a></li>
                                    <li><a href="urology.html">Urology</a></li>
                                    <li><a href="gastrology.html">Gastrology</a></li>
                                    <li><a href="pediatrician.html">Pediatrician</a></li>
                                    <li><a href="laborotory.html">Laborotory</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'time_table' %}">Time Table</a></li>
                            <li class="dropdown"><a href="{% url 'blog' %}">News</a>
                                <ul>
                                    <li><a href="{% url 'blog' %}">News Default</a></li>
                                    <li><a href="{% url 'blog-large' %}">News Large View</a></li>
                                    <li><a href="{% url 'blog-single' %}">News Single Post</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="{% url 'shop' %}">Shop</a>
                                <ul>
                                    <li><a href="{% url 'shop' %}">Shop Products</a></li>
                                    <li><a href="{% url 'product-single' %}">Products Single</a></li>
                                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                    <li><a href="account.html">My Account</a></li>
                                </ul>
                            </li>
                            {% comment %} <li><a href="{%  url 'contact' %}">Contact Us</a></li> {% endcomment %}
                        </ul>
                    </div>
                </nav>
  

                <!--End mainmenu-->
                <!--Start mainmenu right box-->
                <div class="mainmenu-right-box pull-right">
                    <div class="cart_select">
                         <a href="{% url 'cart' %}">
                        <button><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>(0)</span></button>
                             </a>
                    </div>
                    <div class="consultation-button">
                        <a href="#">For Consultation</a>
                    </div>
                </div>
                <!--End mainmenu right box-->
            </div>
        </div>
    </div>
</section>