<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="top-left">
                    <p><span class="flaticon-phone"></span>24 hours emergency & ambulance Service: +996550180088</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="top-right clearfix">
                    <ul class="social-links">
                    </ul>
                    <div class="login-button">
                        <a href="{%url 'register'%}">
                            <button class="login-btn">LOGIN</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
