
{% extends 'base/base.html' %}


{% load static %}


  {% block content %}



<!--Start Preloader -->
{#<div class="preloader"></div>#}
<!--End Preloader --> 

<!--Start header area-->

<!--Start top bar area-->
      {% include 'base/topbararea.html' %}
<!--End top bar area-->

<!--Start header area-->
      {% include 'base/header.html' %}
<!--End header area-->

<!--Start header-search  area-->
{#<section class="header-search">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="search-form pull-right">#}
{#                    <form action="#">#}
{#                        <div class="search">#}
{#                            <input type="search" name="search" value="" placeholder="Search">#}
{#                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--End header-search  area-->        

<!--Start mainmenu area-->
{% include 'base/mainmenu.html' %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Our Doctors</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Doctors</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start team area-->
<section class="team-area doctor doctor-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-tabs tab-menu">
                    <li><a href="#cardiologist" data-toggle="tab">Cardiologist</a></li> 
                   <li class="active"><a href="#gynaecologist" data-toggle="tab">Gynaecologist</a></li>
                    <li><a href="#neurologist" data-toggle="tab">Neurologist</a></li>
                    <li><a href="#ophthalmologist" data-toggle="tab">Ophthalmologist</a></li>
                    <li><a href="#paediatrician" data-toggle="tab">Paediatrician</a></li>
                    <li><a href="#practitioner" data-toggle="tab">General Practitioner</a></li> 
                </ul>    
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <!--Start single tab pane-->
                    <div class="tab-pane" id="cardiologist">
                        <div class="row">
                            {% for doctor in doctors %}
                            <!--Start single item-->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        <img src="{{ doctor.image_for_doctor.url }}" alt="Awesome Image">
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                        </div>
                    </div>
                    <!--End single tab pane-->
                    
  
    
                       
</section> 
<!--End team area--> 
  
<!--Start footer area-->  
{% include 'base/footer.html' %}
<!--End footer area-->
{#{% include 'base/footer.html' %}#}
<!--Start footer bottom area-->
{#<section class="footer-bottom-area">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-8">#}
{#                <div class="copyright-text">#}
{#                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Hospitals.</a></p> #}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <ul class="footer-social-links">#}
{#                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--End footer bottom area-->

</div>


{% endblock %}