
{% extends 'base/base.html' %}


{% load static %}


  {% block content %}


<!--Start Preloader -->
{#<div class="preloader"></div>#}
<!--End Preloader --> 

<!--Start header area-->

<!--Start top bar area-->
{% include 'base/topbararea.html' %}
<!--End top bar area-->

<!--Start header area-->
{% include 'base/header.html' %}
<!--End header area-->

<!--Start header-search  area-->
{#<section class="header-search">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="search-form pull-right">#}
{#                    <form action="#">#}
{#                        <div class="search">#}
{#                            <input type="search" name="search" value="" placeholder="Search">#}
{#                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--End header-search  area-->        

<!--Start mainmenu area-->
{% include 'base/mainmenu.html' %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Single Product</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Single Product</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start shop area-->
<section class="single-shop-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!--Start single shop content-->
                <div class="single-shop-content">
                    <div class="row">
                         {% for medicine in products %}
                        <div class="col-md-6">
                            <div class="img-holder">
                                <img src="{{ medicine.image_for_medicine.url}}" alt="Awesome Image" data-imagezoom="true" class="img-responsive">
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="content-box">
                                <h3>{{ medicine.name }}</h3>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half"></i></li>
                                    </ul>
                                </div>
                                <span class="price">{{ medicine.price_for_medicine }}</span>
                                <div class="text">
                                    <p>{{ medicine.description }}</p>
                                </div>
                                <div class="location-box">
                                    <p>Check Delivery Option at Your Location:</p>
                                    <form action="#">
                                        <input type="text" placeholder="Pincode">
                                        <button type="submit">Check</button><br/>
                                        <span>Expected Delivery in 4-10 Days</span>
                                    </form>
                               </div>
                                <div class="addto-cart-box clearfix">
                                    <input class="quantity-spinner" type="text" value="2" name="quantity">
                                    <button class="thm-btn bgclr-1 addtocart" type="submit">Add to Cart</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--End single shop content-->
                <!--Start product tab box-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-tab-box">
                            <ul class="nav nav-tabs tab-menu">
{#                                <li><a href="#desc" data-toggle="tab">Descriprion</a></li>#}
                                <li class="active"><a href="#review" data-toggle="tab">Reviews (2)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="desc">
                                    <div class="product-details-content">
                                        <div class="desc-content-box">
{#                                            <p>Bluetooth device reflects the design philosophy of form following function prevalent in modernism. These designs represent the ideals of cutting excess, practicality and an absence of decoration. These forms of lamps are visually light and follow minimalist principles of design which are influenced by architectural concepts like the cantilever.</p>#}
{#                                            <p>Modern device fits best in open floor plans with clean lines that thrive in the absence of clutter. A one stop shop for home decor and furniture, Interior sells a home product every 30 seconds.</p>#}
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane active" id="review">
                                    <div class="review-box">
                                        <div class="title">
                                            <h3>2 Reviews For Running Shoes</h3>
                                        </div>
                                        <!--Start single review box-->
                                        <div class="single-review-box">
                                            <div class="img-holder">
                                                <img src="images/shop/review-1.jpg" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <div class="name pull-left">
                                                        <h4>Steven Rich – Sep 17, 2016:</h4>
                                                    </div>
                                                    <div class="review-box pull-right">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End single review box-->
                                        <!--Start single review box-->
                                        <div class="single-review-box">
                                            <div class="img-holder">
                                                <img src="images/shop/review-2.jpg" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <div class="name pull-left">
                                                        <h4>William Cobus – Aug 21, 2016:</h4>
                                                    </div>
                                                    <div class="review-box pull-right">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p>there anyone who loves or pursues or desires to obtain pain itself, because it is pain, but because occasionally circumstances occur some great pleasure.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End single review box-->
                                    </div>
                                    <div class="review-form">
                                        <div class="title">
                                            <h3>Add Your Comments</h3>
                                        </div>
                                        <div class="add-rating-box">
                                            <div class="add-rating-title">
                                                <h4>Your Rating</h4>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <form id="review-form" action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="field-label">
                                                        <p>First Name*</p>
                                                        <input type="text" name="fname" required="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="field-label">
                                                        <p>Last Name*</p>
                                                        <input type="text" name="lname" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="field-label">
                                                        <p>Email*</p>
                                                        <input type="email" name="email" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="field-label">
                                                        <p>Your Comments*</p>
                                                        <textarea name="review" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="thm-btn bgclr-1" type="submit">Submit Now</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End product tab box-->
                <!--Start related product box-->
                <div class="related-product">
                    <div class="sec-title pdb-50">
                        <h1>Related Products</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                        {% for medicine in products %}
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="{{ medicine.image_for_medicine.url}}" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a class="thm-btn bgclr-1" href="shopping-cart.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>{{ medicine.name }}</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
{#                                                <li><i class="fa fa-star"></i></li>#}
{#                                                <li><i class="fa fa-star"></i></li>#}
{#                                                <li><i class="fa fa-star"></i></li>#}
{#                                                <li><i class="fa fa-star"></i></li>#}
{#                                                <li><i class="fa fa-star"></i></li>#}
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>{{ medicine.price_for_medicine }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--End single product item-->
                        <!--Start single product item-->
                        <!--End single product item-->
                        <!--Start single product item-->
                        <!--End single product item-->
                    </div>
                </div>
                <!--End related product box--> 
            </div>
            <!--Start sidebar Wrapper-->
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
							<input placeholder="Search..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="categories clearfix">
                            <li><a href="#">Fitness Kit <span>(6)</span></a></li>
                            <li><a href="#">Healthy Foods <span>(2)</span></a></li>
                            <li><a href="#">Accessories <span>(5)</span></a></li>
                            <li><a href="#">Electronic Scales <span>(10)</span></a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Filter By Price</h3>
                        </div>
                        <div class="price-ranger">
                            <div id="slider-range"></div>
                            <div class="ranger-min-max-block">
                                <input type="submit" value="Filter">
                                <span>Price:</span>
                                <input type="text" readonly class="min"> 
                                <span>-</span>
                                <input type="text" readonly class="max">
                            </div>
                        </div>
                    </div>
                    <!--End single sidebar-->
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Popular Products</h3>
                        </div>
                        <ul class="popular-product">
                            <li>
                                <div class="img-holder">
                                    <img src="images/shop/product-thumb-1.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>The Innovators</h4>
                                    </a>
                                    <h5>$34.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="images/shop/product-thumb-2.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Good to Great</h4>
                                    </a>
                                    <h5>$29.00</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="images/shop/product-thumb-3.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Built to Last</h4>
                                    </a>
                                    <h5>$24.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section>
<!--End shop area-->
 
<!--Start footer area-->
{% include 'base/footer.html' %}
<!--End footer area-->

<!--Start footer bottom area-->
{#<section class="footer-bottom-area">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-8">#}
{#                <div class="copyright-text">#}
{#                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Hospitals.</a></p> #}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <ul class="footer-social-links">#}
{#                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--End footer bottom area-->


{% endblock %}